@import 'tailwindcss';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@theme {
  --color-slate-50: oklch(97% 0.014 254.604);
  --color-slate-100: oklch(93.2% 0.032 255.585);
  --color-slate-200: oklch(88.2% 0.059 254.128);
  --color-slate-300: oklch(80.9% 0.105 251.813);
  --color-slate-400: oklch(70.7% 0.165 254.624);
  --color-slate-500: oklch(62.3% 0.214 259.815);
  --color-slate-600: oklch(54.6% 0.245 262.881);
  --color-slate-700: oklch(48.8% 0.243 264.376);
  --color-slate-800: oklch(42.4% 0.199 265.638);
  --color-slate-900: oklch(37.9% 0.146 265.522);
  --color-slate-950: oklch(28.2% 0.091 267.935);
}

:root {
  --modal-animation-duration: 0.4s;
}

body,
button,
input,
textarea {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  text-transform: lowercase;
}

svg {
  transition: all 0.2s ease-in-out;
}

log {
  transition: display var(--modal-animation-duration) allow-discrete,
    overlay var(--modal-animation-duration) allow-discrete;
  animation: close var(--modal-animation-duration) forwards;
}

dialog[open] {
  animation: open var(--modal-animation-duration) forwards;
}

@keyframes open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes close {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
